@model List<Garant.Models.Dialog>



@foreach (Dialog dialog in Model)
{

    string anotherUser = "";

    if (dialog.AnotherUser != null)
    {
        anotherUser = dialog.AnotherUser.UserName;
    }
    else
    {
        anotherUser = "Неизвестный пользователь";
    }

    <div>

        <a href="~/Chat/@dialog.id">

            <h1>Переписка с @anotherUser</h1>

        </a>

    </div>

}

