@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@using Microsoft.AspNetCore.Identity
@model Garant.Models.Deal;
<br />
<br />
<br />
<br />
<br />
<br />

<div class="col-md-12 order-md-1">
    <h4 class="mb-3 ml-4  ">Сделка<br></h4>
    <form method="post" asp-controller="Finance" asp-action="AddMoney">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Введите сумму пополнения</label>
                <input name="entersumma" type="number" class="form-control" placeholder="Сумма пополнения" value="" required>
            </div>
        </div>
        <hr class="mb-4">
        <button class=" button btn  btn-lg btn-block" type="submit">Создать проект</button>
    </form>
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />