@{ Layout = "_Layout"; }

@model Garant.Models.CommentsViewModel

<div class="container text-center text-gradient mt-5 mb-1">
    <h1>Добавление комментария</h1>
    <hr>
</div>


<div class="col-md-12 order-md-1">
    <h4 class="mb-3 ml-4  ">Здесь вы можете оставить свой отзыв<br></h4>
    <form class="needs-validation" asp-controller="Home" asp-action="CreateComment" novalidate>
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="firstName">Имя</label>
                <input type="text" asp-for="Name" class="form-control" id="firstName" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="lastName">Фамилия</label>
                <input type="text" class="form-control" asp-for="Surname" id="lastName" placeholder="" value="" required>
                <div class="invalid-feedback">
                    Valid last name is required.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="username">Имя пользователя</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">@@</span>
                </div>
                <input type="text" class="form-control" asp-for="Login" id="username" placeholder="Username" required>
                <div class="invalid-feedback" style="width: 100%;">
                    Your username is required.
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="email">Email <span class="text-muted">(Необязательно)</span></label>
            <input type="email" asp-for="Email" class="form-control" id="Email" placeholder="пример@tut.by">
            <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
            </div>
        </div>
        <div class="mb-3">
            <label for="Message">Сообщение</label>
            <input type="text" class="form-control" asp-for="Message" id="Message" placeholder="" value="" required>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-5"></div>
                <button asp-action="CreateComment" asp-controller="Home" class="col-md-2 button btn  btn-lg btn-block" type="submit">Отправить</button>
                <div class="col-md-5"></div>
            </div>
        </div>
    </form>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />